DATABASE_URL="postgresql://postgres:postgres@localhost:5432/store_financial_management?schema=public"
PORT=4000
CLIENT_URL="http://localhost:3000"
JWT_ACCESS_SECRET="replace-with-a-long-random-access-secret"
JWT_REFRESH_SECRET="replace-with-a-long-random-refresh-secret"
JWT_ACCESS_EXPIRES_IN="6h"
JWT_REFRESH_EXPIRES_IN="30d"



# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/store_financial_management?schema=public"